@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

* {
	font-family: 'IBM Plex Sans';
	font-size: 100%;
}
h1 {
	text-align: center;
}
h2 {
  display: block;
	text-align:center;
	font-family: 'IBM Plex Sans';
}

#index-elements {
	display: flex;
	justify-content: space-around
}

#netdata-charts{
	margin: auto;
	width:80%;
	margin-top:5em;
	margin-bottom:5em;
}
#starknet-logo{
	width:10em;
}
#logs {
	display:block;
	margin:auto;
	width: 80%;
	height: 25em;
	font-weight: bold;
}

